.App {
  text-align: center;
  overflow: hidden;
  background-image: url("./bg.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

